.avatar-selection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.avatar-option {
  width: 50px;        /* kecilin di sini */
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.avatar-option:hover {
  transform: scale(1.1);
  border-color: #4f46e5;
}

.avatar-option.selected {
  border-color: #4f46e5;
}