.scan-wrapper {
  background: #f6f8fc;
  padding: 40px;
  min-height: 100vh;
}

/* HEADER */
.scan-header {
  text-align: center;
  margin-bottom: 30px;
}

.badge {
  display: inline-block;
  background: #e6efff;
  color: #3b6cff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.scan-header h1 {
  font-size: 32px;
  margin: 10px 0;
}

.scan-header p {
  color: #666;
}

/* CARD */
.card {
  background: white;
  border-radius: 14px;
  padding: 25px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.card-title {
  margin-bottom: 15px;
}

/* UPLOAD AREA */
.upload-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.upload-box, .text-box {
  flex: 1;
}

.box-header {
  background: #eef3ff;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.drop-area {
  border: 2px dashed #d0d7e2;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.drop-area:hover {
  border-color: #3b6cff;
}

.cloud {
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  border: 1px solid #d0d7e2;
  padding: 10px;
  resize: none;
  font-size: 11px;
}

/* OR */
.or {
  background: #eef3ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* BUTTON */
.scan-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: linear-gradient(to right, #6a8cff, #3b6cff);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.feature {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* HOW IT WORKS */
.how {
  margin-top: 50px;
}

.how-content {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.steps {
  flex: 1;
}

.step {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.step span {
  background: #3b6cff;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  text-align: center;
}

/* RIGHT BOX */
.tips-box {
  flex: 1;
  background: #eef3ff;
  padding: 20px;
  border-radius: 12px;
}
.tips-box ul {
  list-style: none;
  padding-left: 0;
}

.tips-box li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #334155;
}
.examples {
  margin-top: 40px;
  text-align: left;
}

.examples h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.example-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.example-card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  min-width: 220px;
  transition: 0.3s;
  cursor: pointer;
}

.example-card:hover {
  transform: translateY(-5px);
  background: #e2e8f0;
}

.example-card h4 {
  margin-bottom: 8px;
}

.example-card p {
  font-size: 14px;
  color: #64748b;
}